Web Application/src/conf/xml-resources/web-service-references/OjekWebService_1/wsdl/localhost_8080/Ojek_Service/OjekWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ojekservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ojekservice/" name="OjekWebService">
<types/>
<message name="hello">
<part name="name" type="xsd:string"/>
</message>
<message name="helloResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="fetchPreferredDriver">
<part name="preferredUsername" type="xsd:string"/>
</message>
<message name="fetchPreferredDriverResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="fetchOtherDriver">
<part name="preferredUsername" type="xsd:string"/>
</message>
<message name="fetchOtherDriverResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="OjekWebService">
<operation name="hello">
<input wsam:Action="http://ojekservice/OjekWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ojekservice/OjekWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="fetchPreferredDriver">
<input wsam:Action="http://ojekservice/OjekWebService/fetchPreferredDriverRequest" message="tns:fetchPreferredDriver"/>
<output wsam:Action="http://ojekservice/OjekWebService/fetchPreferredDriverResponse" message="tns:fetchPreferredDriverResponse"/>
</operation>
<operation name="fetchOtherDriver">
<input wsam:Action="http://ojekservice/OjekWebService/fetchOtherDriverRequest" message="tns:fetchOtherDriver"/>
<output wsam:Action="http://ojekservice/OjekWebService/fetchOtherDriverResponse" message="tns:fetchOtherDriverResponse"/>
</operation>
</portType>
<binding name="OjekWebServicePortBinding" type="tns:OjekWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ojekservice/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ojekservice/"/>
</output>
</operation>
<operation name="fetchPreferredDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ojekservice/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ojekservice/"/>
</output>
</operation>
<operation name="fetchOtherDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ojekservice/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ojekservice/"/>
</output>
</operation>
</binding>
<service name="OjekWebService">
<port name="OjekWebServicePort" binding="tns:OjekWebServicePortBinding">
<soap:address location="http://localhost:8080/Ojek_Service/OjekWebService"/>
</port>
</service>
</definitions>